/be/compendium/compendium/__pycache__
/be/compendium/compendium/.env
/be/compendium/db/__pycache__
/be/compendium/db/migrations/__pycache__
/be/venv
/be/.venv
/fe/package.json
/fe/package-lock.json
/fe/src/Register/package.json
/fe/src/Login/package.json