/be/compendium/compendium/__pycache__
/be/compendium/compendium/.env
/be/compendium/db/__pycache__
/be/compendium/db/migrations/__pycache__
/be/venv
/be/.venv
/fe/package.json
/fe/package-lock.json
/fe/src/Register/package.json
/fe/src/Login/package.json
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
# production
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/fe/node_modules
/fe/src/pages/Register/package.json
/fe/src/pages/Dashboard
/fe/src/pages/DailyReport
/fe/src/pages/Comments
