html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}
#main {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.FlexBox {
  margin-left: auto;
  margin-right: auto;
  margin-left: 0px;
  margin-right: 0px;
  height: 1024px;
  width: 1440px;
}
.Sidebar {
  height: 1000px;
}
.WholeScreen {
  background-color: gray;
}
.HomeStyle {
  padding-top: 50px;
}
.Picture {
  margin-top: 47px;
  margin-left: 50px;
}
.OtherStyle {
  padding-bottom: 50px;
}
.NameFont {
  text-align: center;
}
.LogoutStyle {
  padding-top: 400px;
  padding-bottom: 100px;
}
.MenuBar {
  height: 1000px;
}
.InfoFontEmail {
  font-size: 20px;
  font-weight: bolder;
  padding-left: 8px;
  padding-top: 61px;
}
.InfoFont {
  font-size: 20px;
  font-weight: bolder;
  padding-left: 5px;
}
.ReportHistory {
  padding-top: 30px;
  padding-left: 40px;
}
.Pagination {
  padding-top: 50px;
  margin-left: 350px;
}
.Flexbox {
  min-height: xxx;
  overflow: hidden;
  width: 1220px;
  margin-left: 2px;
}
.ForceLeft {
  margin-left: 20px;
}
.dailyreport {
  border: 2px solid #000000;
  min-height: xxx;
  overflow: hidden;
  border-radius: 20px;
}
.buttonCreate {
  padding-top: 100px;
}
.buttonED {
  padding-top: 20px;
  padding-left: 50px;
}
.date {
  font-size: 20px;
  font-weight: bolder;
  padding-left: 60px;
  padding-top: 20px;
}
.content {
  font-size: 12px;
  font-weight: 300;
  padding-left: 100px;
}
.input {
  font-size: 20px;
  font-weight: bolder;
  padding-left: 60px;
  padding-top: 10px;
}
.contents {
  font-size: 12px;
  font-weight: 300;
  padding-left: 100px;
  padding-bottom: 50px;
}
